In [1]:
import ibm_db

In [2]:
dsn_hostname='dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net'
dsn_uid='kmg34019'
dsn_pwd='jp-bzv4llm6h3t3g'
dsn_driver='{IBM DB2 ODBC DRIVER}'
dsn_database='BLUDB'
dsn_port='50000'
dsn_protocol='TCPIP'

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=kmg34019;PWD=jp-bzv4llm6h3t3g;

In [3]:
dsn=("Driver={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
     "UID={5};"
     "PWD={6};").format(dsn_driver,dsn_database,dsn_hostname,dsn_port,dsn_protocol,dsn_uid,dsn_pwd)

In [4]:
try:
    conn=ibm_db.connect(dsn,"", "")
    print('connected')
except:
    print('not connected')

connected

Connected to database:  BLUDB as user:  kmg34019 on host:  dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net

In [6]:
stmt=ibm_db.exec_immediate(conn,
                           "CREATE TABLE Trucks(serial_no VARCHAR(20) PRIMARY KEY NOT NULL,model_no VARCHAR(30) NOT NULL,manufacturer VARCHAR(50) NOT NULL,engine_size VARCHAR(20) NOT NULL,truck_class VARCHAR(20) NOT NULL)")

In [11]:
stmt=ibm_db.exec_immediate(conn,"INSERT INTO Trucks ( VALUES ('1011','ASHOKLEYLAND','SCANIA','500BHP','PICKUP'));")

In [15]:
stmt=ibm_db.exec_immediate(conn,"INSERT INTO Trucks (( 'serial_no','model_no','manufacturer','engine_size','truck_class') VALUES ('1022','TATA','INDICA','1000BHP','Transport'));")

 SQLCODE=-104

 SQLCODE=-803

In [18]:
stmt=ibm_db.exec_immediate(conn,'SELECT* FROM Trucks;')

In [19]:
ibm_db.fetch_both(stmt)

{'SERIAL_NO': '1011',
 0: '1011',
 'MODEL_NO': 'ASHOKLEYLAND',
 1: 'ASHOKLEYLAND',
 'MANUFACTURER': 'SCANIA',
 2: 'SCANIA',
 'ENGINE_SIZE': '500BHP',
 3: '500BHP',
 'TRUCK_CLASS': 'PICKUP',
 4: 'PICKUP'}

In [23]:
stmt=ibm_db.exec_immediate(conn,'SELECT DISTINCT(manufacturer) FROM Trucks;')

In [24]:
ibm_db.fetch_both(stmt)

{'MANUFACTURER': 'MM', 0: 'MM'}

In [ ]:
%sql ibm_db_sa://